*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(/IMG/pexels-bruno-thethe-1910225.png);
    opacity: .9;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

/* Navigation--------------------------- */
.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #e0f875;
}

.nav-link:hover{
    color: rgb(214, 136, 191);
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
        z-index: 999;
    }
    .nav-link{
        font-size: 1.6rem;
        font-weight: 400;
        color: #ca20ae;
    }
    .nav-link:hover{
        color: rgb(214, 136, 191);
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}

/* Home Page Content------------ */
.content h1{
    font-size: 60px;
    font-weight: 300;
    text-shadow: 1px 2px 3px black;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #fff;
}

.content p ,.home-head{
    font-size: 1.4em;
    font-weight: 300;
    float: left;
    text-align: left;
    text-shadow: 1px 2px 3px black;
    color: #fff;
}
.content{
    /* margin-left: 10%;
    margin-top: 10%; */
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: unset;
    animation: moveright 1s linear 1;
    animation-delay: .33s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes moveright{
    0%{
        transform: translateX(-100px);
        visibility: visible;
}
    100%{
        transform: translateX(0);
        visibility: visible;
}
}

.feature-img{
    height: 85%;
    position: absolute;
    border-radius: 15%;
    bottom: 2;
    right: 15em;
    animation: zoomin 1s linear 1;
    animation-delay: .58s;
    visibility: hidden;
    animation-fill-mode: forwards;
}

@keyframes zoomin{
    0%{
        transform: scale(0.5);
        visibility: visible;
}
    100%{ transform: scale(1);
        visibility: visible;
}
}
@media (min-width: 319px) and (max-width: 650px){
    .content h1{
        font-size: 2em;
        font-weight: 300;
        margin-top: 2em;
        margin-bottom: 15px;
    }
    .content p{
        font-size: 1em;
        align-items: center;
        text-align: center;
    }
    .content{
        margin: 0 auto;
        margin-top: 3em;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .feature-img{
        height: 50%;
        display: block;
        position: unset;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1em;
        width: 60%;
    }
}
@media (min-width: 651px) and (max-width: 800px){
    .content h1{
        font-size: 2em;
        font-weight: 300;
        margin-top: 2em;
        margin-bottom: 15px;
    }
    .content p{
        font-size: 1em;
        float: none;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        align-items: center;
        text-align: center;
    }
    .content{
        /* margin: 0 auto; */
        margin-top: 3em;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .feature-img{
        height: 20%;
        display: block;
        position: unset;
        margin-left: auto;
        margin-right: auto;
        padding-top: 2.5em;
        width: 50%;
    }
}

/* Social Network Icons-------------- */
.social-links{
    transform: rotate(-90deg);
    position: absolute;
    left: 1em;
    bottom: 130px;
    animation: moveup 1s linear 1;
    animation-delay: .45s;
    visibility: hidden;
    animation-fill-mode: forwards;
}
@keyframes moveup{
    0%{
        transform: translateY(100px) rotate(-90deg);
        visibility: visible;
}
    100%{
        transform: translateY(0) rotate(-90deg);
        visibility: visible;
}}

.social-links a{
    text-decoration: none;
    color: #6a7199;
    padding-right: 20px;
    font-size: 14px;
}
@media (min-width: 319px) and (max-width: 427px){
    .social-links{
        transform: rotate(-360deg);
        position: absolute;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        bottom: 1em;
}
    .social-links a{
        text-decoration: none;
        color: #6a7199;
        padding-right: 20px;
        font-size: 14px;
    }
}
@media (max-width: 426px){
    .social-links{
        transform: rotate(-360deg);
        /* position: absolute;
        margin: 0 auto;
        left: 7.43em;
        bottom: 5em; */
}
@keyframes moveup{
    0%{
        transform: translateY(100px) rotate(-360deg);
        visibility: visible;
}
    100%{
        transform: translateY(0) rotate(-360deg);
        visibility: visible;
}}
}
@media (max-width: 768px){
    .home-social{
        display: none;
    }
}

/* About------------------------------------- */
.about{
    width: 50%;
    color: #fff;
    font-family: 'Lobster', cursive;
    text-shadow: 1px 2px 3px black;
    margin-left: auto;
    margin-right: auto;
}
.about-img{
    width: 25%;
    border-radius: 10%;
    display: block;
    position: unset;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
}

.about-text, .about-head{
    width: 75%;
    letter-spacing: 1.5px;
    font-size: 3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
}
.about-text{
    width: 75%;
    font-size: 1.5em;
    text-align: center;
}
@media (min-width: 320px)and (max-width: 600px){
    .about-img{
        width: 55%;
        margin-top: .5em;
    }
    .about-text, .about-head{
        padding-top: .5em;
    }
    .about-text{
        width: 95%;
        font-size: .8em;
        text-align: center;
    }
}
/* Contact----------------------------------- */
.contact-text{
    font-size: 2.3em;
    color: yellowgreen;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    padding-top: 10em;
}
.contact-ad{
    padding-top: 1em;
}

@media (min-width: 320px)and (max-width: 600px){
    .contact-text{
        font-size: 1.7em;
        color: yellowgreen;
        text-shadow: 1px 1px 1px black;
        text-align: center;
        margin-top: 2em;
    }
    .contact-ad{
        padding-top: 1em;
    }
}